<form class="login-page">
  <div class="login-page__content">
    {{{PageTitle}}}
    <div class="name-group">
      {{{InputName}}}
    </div>
    {{{InputContent}}}
  </div>
  <div class="login-page__footer">
    {{{Button}}}
    <div class="login-link">{{{questionText}}} {{{Link}}} </div>
    <nav class="page-navigation">
      <a href="" class="link" page="error404">Ошибка 404</a>
      <a href="" class="link" page="error505">Ошибка 505</a>
      <a href="" class="link" page="settings">Настройки пользователя</a>
      </nav>
  </div>
</form>