<form class="login-page">
  <div class="login-page__content">
    {{{PageTitle}}}
    <div class="name-group">
      {{{InputName}}}
    </div>
    {{{InputContent}}}
  </div>
  <div class="login-page__footer">
    {{{Button}}}
    <p class="login-link"> {{{questionText}}} {{{Link}}} </p>
    <a href="" class="link" page="settings">Настройки пользователя</a>
  </div>
</form>