<div class="chat-search{{#if className}} {{ className }}{{/if}}">
 <input
    class="search__input{{#if align-right}} input__element--align-right{{/if}}"
    type="{{ type }}" title="{{ title }}" name="{{ name }}" value="{{value}}">
</div>
