<main class="main">
  <div class="chat-page">
    {{{Header}}}
    {{{ChatList}}}
    {{!-- {{#> ChatList className="chat-page__list" }} --}}
    {{{ChatList}}}
    <a href="" class="link" page="login">Назад к логину</a>
    {{!-- {{> Link page="LoginPage" text="Назад к логину"}} --}}
  </div>
  {{{ChatContainer}}}
  {{!-- {{#> ChatContainer}}{{/ ChatContainer}} --}}
  {{{ChatContainer}}}
</main>